@font-face {
    font-family: 'gothamlightregular';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	padding: 0;
  font-family: 'GothamLight', sans-serif;
  overflow-x: hidden;
}

h3 {
  text-align: center;
  color:#fff;
  position: absolute;
  bottom: 280px;
  left: 20%;
  z-index: 100;
  font-family: 'GothamMedium', sans-serif;
  font-size: 50px;
}

h2 {
  text-align: center;
  color:#fff;
  position: absolute;
  bottom: 200px;
  left: 38%;
  z-index: 100;
  font-size: 40px;
  font-family: 'GothamMedium', sans-serif;
}

* { color:#fff; text-decoration: none;}


.myButton:hover {
  background-color:transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}
.nav-container{
  background-color: transparent;
	width: 100%;
  height: 0px;
}

/* Dropdown Button */
.dropbtn {
    padding: ;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: -60px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    display: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(0,0,0,0.6)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: 
}
.navIcon{
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  margin: 6px 0;
}

.dropdown {
  margin-left: 95%;
  margin-top: -1%;
  display: inline-block;
  vertical-align: top;
  position: relative;
      
}

.dropdown-content a{
        display: block;
}

  
}


.logo{
	display: inline-block;
	width: 10%;
  vertical-align: middle;
}

.logo img{
  width: 5%;
  padding: 10px;
}

.fullscreen-bg {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 33.5%;
  right: 0;
  bottom: 0;
  width: auto;
  min-height: 100%;
  height: 100%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background: no-repeat;
  transition: 1s opacity;
  margin-top: 300px;
  
}

.myButton {
  background-color:transparent;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border: 4px solid;
  border-radius: 5px;
/*  display:inline-block;*/
  cursor:pointer;
  color:#ffffff;
  font-family: 'GothamLight', sans-serif;
  font-size:25px;
  padding:16px 31px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #2f6627;
*/  z-index: 1000;
  position: absolute;
  top: 480px;
  left: 450px;
}


@media screen and (max-width: 950px) {
  h3 {
    left: 450px;
  }

  .logo img {
    width: 60px;
  }
}





/*css for past projects page*/
.past-projects {
  margin-top: 55%;
  background-color: #2D3741;
  padding-bottom: 50px;
  padding-top: 5%;
}

.projects-header h1{
  margin-bottom: -2%;
  color: white;
  font-family: "GothamMedium", sans-serif;
  text-align: center;
  font-size: 36pt;
}

.container {
  position: relative;
  width: 50%;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 190%;
  margin-left: 10%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-row {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-top: 5%;
}

.container img {
  width: 190%;
  height: auto;
  margin-left: 11%;
}

.project-desc {
  width: 70%;
  padding: 2% 3% 1.5% 7%;
  margin-top: 5%;
  background-color: white;
  line-height: 130%
}

.project-desc p {
  color: black;
}

.project-desc h1 {
  font-size: 28px;
  color: black;
}

.second-desc {
  margin-left: 21%;
}

.second-img {
  margin-left: -5%;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 920px) {
  .project-row {
    width: 100%;
  }

  #one {
    margin-top: 3%;
  }

  #three {
    position: absolute;
    margin-top: 55%;
    margin-left: 9%;
  }

  #four {
    position: relative;
    margin-left: 0.5%
  }

  #five {
    margin-top: 39%;
    position: relative;
  }

  .project-row img {
    width: 170%;
  }

  .container:hover .overlay {
    width: 171%;
    margin-left: 1%;
  }

  #two {
    margin-left: 8%;
    margin-top: -5%;
  }

  #six {
    margin-left: 8%;
    margin-top: -5.5%;
  }
}



/*CSS FOR PROGRAM LEADS PAGE*/

.pagetitle h1 {
  font-family: "GothamMedium", sans-serif;
  text-align: center;
  font-size: 36pt;
}

.program-leads-page {
  background-image: 
    linear-gradient(
      to right, 
      #0B1620, #29445B
    );
  color: white;
  padding-top: 6%;
  padding-bottom: 3%;
}

.main-container {
  width: 80%;
  margin-left: 10%;
}

h1 {
  font-family: 'Museo', sans-serif;
  font-size: 36px;
  margin-top: -1%;
}

img {
  width: 50%;
}

.instructor-row {
  font-family: 'GothamLight', sans-serif;
  padding-top: 3%;
}

.block {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.bio {
  margin-left: -40%;
}

.TA-row {
  font-family: 'GothamLight', sans-serif;
  margin-top: 4%;
  margin-left: 5%;
}

.TA-row img {
  padding-left: 30%;
}

.TA-block h1 {
  font-size: 28px;
}

p {
  line-height: 120%
}

hr {
     background: #848D95; 
     width: 100%; 
     height: 0.1px;
     margin-top: 3%;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  img {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .bio {
    padding-left: 3%;
  }
}

@media screen and (max-width: 790px) {
  .bio {
    padding-left: 30%;
  }

  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 610px) {
  .block {
    width: 100%;
  }

  .bio {
    width: 98%;
  }

  .instructor-row {
    padding-left: 15%;
  }

  .instructor-row img {
    padding-left: 13%;
  }
}

@media screen and (max-width: 435px) {
  .pagetitle {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

@media screen and (max-width: 375px) {

  img {
    width: 120px;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 680px) {
  #five {
    margin-top: 60%;
  }
}

@media screen and (max-width: 530px) {
  #five {
    margin-top: 80%;
  }
}

@media screen and (max-width: 450px) {
  #five {
    margin-top: 100%;
  }
}



/*CSS FOR FOOTER SECTION*/

.footer {
  background-color: black;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 10%;
}

.footer-col {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

input {
  background-color: white;
  color: black;
  width: 80%;
  height: 35px;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'GothamLight', sans-serif;
}

#footer-info {
  font-family: 'Museo', sans-serif;
  font-size: 20pt;
}

#subscribe {
  background-color: black;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'GothamLight', sans-serif;
  width: 80%;
  height: 35px;
  margin: 5px 0;
}

@media screen and (max-width: 900px) {
  #footer-info {
    font-size: 17pt;
  }
}

@media screen and (max-width: 550px) {
  .footer-col {
    width: 100%;
  }
}





