@font-face {
    font-family: 'gothamlightregular';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	padding: 0;
  font-family: 'GothamLight', sans-serif;
}

h3 {
  text-align: center;
  color:#fff;
  /*padding-top:200px;*/
  position: absolute;
  bottom: 200px;
  left: 30%;
  z-index: 100;
  font-family: 'Museo', sans-serif;
  font-size: 30px;
}

h2 {
  /*background-color:#ce3635;*/
  text-align: center;
  color:#fff;
  /*padding-top:20px;*/
  position: absolute;
  bottom: 150px;
  left: 40%;
  z-index: 100;
  font-size: 40px;
  font-family: 'Museo', sans-serif;
}

* { color:#fff; text-decoration: none;}

.myButton {
  background-color:transparent;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  border:1px solid #d6e5ff;
/*  display:inline-block;*/
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:25px;
  padding:16px 31px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #2f6627;
*/  z-index: 1000;
  position: absolute;
  top: 480px;
  left: 450px;

}
.myButton:hover {
  background-color:transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}
.nav-container{
  /*background-color: rgba(283,238,238,0.5);*/
  background-color: black;
  opacity: 0.7;
  color: white;
	width: 100%;
  height: 84px;
	/*margin-right: auto;
	margin-left: auto;*/
}

.logo{
	display: inline-block;
	width: 10%;
  vertical-align: middle;
}
.logo img{
  width: 45%;
  padding: 10px;
}

.links {
	display: inline-block;
	width: 70%;
  vertical-align: middle;
}

.links ul li a{
	list-style: none;
  text-decoration: none;
  color: white;

}
.links li{
	display: inline;
	margin-left: 45px;
	font-size: 20px;
  color: white;
  margin-bottom: 90px;
  padding-top: -30px;
}

.fullscreen-bg {
   position: relative;
   display: inline-block;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 600px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background: no-repeat;
    transition: 1s opacity;
    margin-top: 300px;
}

/*body {
  font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 16px;
  line-height: 1.75;
}*/

#timeline {
  display: flex;
  background-color: #031625;

  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  
  &:before, &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &:after {
    background: transparentize(#031625, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 30% !important;
    
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }
    
    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-bg {
      filter: grayscale(0);
    }
  }
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
  
  h1 {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.44rem;
    font-weight: normal;
  }
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  
  p {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.728rem;
    line-height: 0;
  }
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}



h1{
	text-transform: uppercase;
	size: 25px;
	padding: 2.5%;
}
/*css for past projects page*/
.past-projects {
  background-color: #2D3741;
  padding-bottom: 50px;
}

.projects-header h1{
  font-size: 36px;
  margin-bottom: -2%;
  color: white;
}

.past-projects h1 {
  font-family: 'Museo', sans-serif;
}

.container {
  position: relative;
  width: 50%;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 190%;
  margin-left: 10%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-row {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-top: 5%;
}

.container img {
  width: 190%;
  height: auto;
  margin-left: 11%;
}

.project-desc {
  width: 70%;
  padding: 2% 3% 1.5% 7%;
  margin-top: 5%;
  background-color: white;
  line-height: 130%
}

.project-desc p, h1 {
  color: black;
}

.project-desc h1 {
  font-size: 28px;
}

.second-desc {
  margin-left: 21%;
}

.second-img {
  margin-left: -5%;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 920px) {
  .project-row {
    width: 100%;
  }

  #one {
    margin-top: 3%;
  }

  #three {
    position: absolute;
    margin-top: 55%;
    margin-left: 9%;
  }

  #four {
    position: relative;
    margin-left: 0.5%
  }

  #five {
    margin-top: 39%;
    position: relative;
  }

  .project-row img {
    width: 170%;
  }

  .container:hover .overlay {
    width: 170%;
    margin-left: 11%;
  }

  #two {
    margin-left: 8%;
    margin-top: -5%;
  }

  #six {
    margin-left: 8%;
    margin-top: -5.5%;
  }
}

@media screen and (max-width: 680px) {
  #five {
    margin-top: 60%;
  }
}

@media screen and (max-width: 530px) {
  #five {
    margin-top: 80%;
  }
}

@media screen and (max-width: 450px) {
  #five {
    margin-top: 100%;
  }
}
  }