@font-face {
    font-family: 'gothamlightregular';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	padding: 0;
  font-family: 'GothamLight', sans-serif;
  overflow-x: hidden;
  height: 100%;
}

h3 {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 350px;
  left: 10%;
  z-index: 100;
  font-family: 'GothamMedium', sans-serif;
  font-size: 30px;
}

#typewriting {
  color:#fff;
  position: absolute;
  bottom: 260px;
  left: 10%;
  z-index: 100;
  font-size: 55px;
  font-family: 'GothamMedium', sans-serif;
}

.hustle-desc p {
  left: 10%;
  bottom: 200px;
  position: absolute;
  font-size: 14pt;
}

* { color:#fff; text-decoration: none;}


.myButton:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-container{
  background-color: transparent;
	width: 100%;
  height: 0px;
}

/* Dropdown Button */
.dropbtn {
    font-size: 14pt;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: -60px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    display: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(0,0,0,0.6)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.navIcon{
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  margin: 6px 0;
}

.dropdown {
  margin-left: 95%;
  margin-top: -1%;
  display: inline-block;
  vertical-align: top;
  position: relative;
      
}

.dropdown-content a{
        display: block;
}

  
}


.logo{
	display: inline-block;
	width: 10%;
  vertical-align: middle;
}

.logo img{
  width: 5%;
  padding: 15px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#bg {
  display: none;
}

.myButton {
  background-color:transparent;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border: 4px solid;
  border-radius: 5px;
/*  display:inline-block;*/
  cursor:pointer;
  color:#ffffff;
  font-family: 'GothamLight', sans-serif;
  font-size:25px;
  padding:16px 31px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #2f6627;
*/  z-index: 1000;
  position: absolute;
  top: 480px;
  left: 450px;
}

@media (max-width: 1100px) {
  .myButton {
    margin-left: -200px;
  }
}

.timeline {
  margin-top: 680px;
}

@media (max-width: 923px) {
  video {
    display: none;
  }

  #bg {
    display: inline-block;
    z-index: -100;
  }

  #bg img {
    height: 100%;
    width: 100%;
    z-index: -100;
  }

  .fullscreen-bg {
    display: none;
  }

  .timeline {
    margin-top: -4px;
  }
}

@media (max-width: 890px) {
  .myButton {
    margin-left: -280px;
  }
}

@media (max-width: 690px) {
  .myButton {
    margin-left: -350px;
  }
}

@media (max-width: 590px) {
  h3 {
  bottom: 430px;
  left: 10%;
  font-size: 26px;
  }

  #typewriting {
    bottom: 350px;
    left: 10%;
    font-size: 48px;
  }

  .hustle-desc p {
    left: 10%;
    bottom: 250px;
    font-size: 14pt;
  }

  .myButton {
    font-size: 22px;
    margin-top: -40px;
  }
}

@media (max-width: 540px) {
  .myButton {
    margin-left: -400px;
    margin-top: -80px;
  }

}

@media (max-width: 480px) {
  h3 {
  bottom: 460px;
  left: 10%;
  font-size: 26px;
  }

  #typewriting {
    bottom: 380px;
    left: 10%;
    font-size: 48px;
  }

  .hustle-desc p {
    left: 10%;
    bottom: 280px;
    font-size: 14pt;
    width: 70%;
  }

  .myButton {
    font-size: 18px;
    margin-top: -120px;
    padding:12px 25px;
  }

}

/*CSS FOR TIMELINE*/

.timeline h1 {
  margin: auto 0;
  font-family: "GothamMedium", sans-serif;
  color: white;
  text-align: center;
  font-size: 40pt;
}

#meeting-times {
  text-align: center;
  color: white;
}

.timeline{
  background: #5775a5;
  padding-top: 5%;
  padding-bottom: 5%;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: white;
  color: white;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  color: black;
}

.timeline ul li div {   /*SQUARE SIZE FOR TIMELINE !!!!!*/
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #333243 ; opacity: 0.5;
}

.timeline ul li .square::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) .square{
  left: 35px;
}

.timeline ul li:nth-child(odd) .square::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #040075 transparent transparent;
}
.timeline ul li:nth-child(even) .square::before {
  left: -15px;
/*  transform: rotate(180deg)*/
  border-width: 8px 16px 8px 0;
  border-color: transparent #040075 transparent transparent;
}

@media screen and (max-width: 950px) {
  .timeline ul li:nth-child(even) .square{
    left: -439px;
  }

  .timeline ul li:nth-child(even) .square{
    right: -15px;
    border-width: 8px 0 8px 16px;
    background-color: rgb(51, 50, 67);
  }
}
@media screen and (max-width: 920px) {
  .timeline ul, menu, dir {
      -ms-transform: translate(-300px);
      -webkit-transform: translate(-300px);

  }
  
  .timeline{
    overflow-x: hidden;
  }
  
  .dos, .quatro{
    -ms-transform: translate(450px); /* IE 9 */
    -webkit-transform: translate(450px); /* Safari */
  }
  
  .tres, .uno{
    -ms-transform: translate(-20px); /* IE 9 */
    -webkit-transform: translate(-20px); /* Safari */
  }
}

@media screen and (max-width: 620px) {
  .timeline ul {
    transform: translate(-250px); /* IE 9 */
    -webkit-transform: translate(-250px); /* Safari */
  }
}

@media screen and (max-width: 500px) {
  .timeline ul {
    transform: translate(-190px); /* IE 9 */
    -webkit-transform: translate(-190px); /* Safari */
  }

  .timeline ul li div {   /*SQUARE SIZE FOR TIMELINE !!!!!*/
    width: 300px;
  }
}






/*css for past projects page*/
.past-projects {
  background: #4B79A1;
  background: -webkit-radial-gradient(#345673 , #0e1c27);
  background: radial-gradient( #345673 , #0e1c27);
  padding-bottom: 5%;
  padding-top: 5%;
}

.projects-header h1{
  margin-bottom: -2%;
  color: white;
  font-family: "GothamMedium", sans-serif;
  text-align: center;
  font-size: 40pt;
}

.container {
  position: relative;
  width: 50%;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  right: 0;
  height: 100%;
  width: 190%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 60%;
}

.project-row {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-top: 5%;
}

.container img {
  width: 190%;
  height: auto;
  margin-left: 11%;
}

.project-desc {
  width: 70%;
  padding: 2% 3% 1.5% 7%;
  margin-top: 5%;
  background-color: white;
  font-family: "GothamLight", sans-serif;

  
}

.project-desc:hover {
  box-shadow:
    1px 1px #1E73BE,
    2px 2px #1E73BE,
    3px 3px #1E73BE,
    4px 4px #1E73BE,
    5px 5px #1E73BE;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.project-desc p {
  color: black;
}

.project-desc h1 {
  font-size: 28px;
  color: black;
}

.second-desc {
  margin-left: 21%;
}

.second-desc:hover {
  box-shadow:
    1px 1px #1E73BE,
    2px 2px #1E73BE,
    3px 3px #1E73BE,
    4px 4px #1E73BE,
    5px 5px #1E73BE;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.second-img {
  margin-left: -5%;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 920px) {
  .project-row {
    width: 100%;
  }

  #one {
    margin-top: 3%;
  }

  #three {
    position: absolute;
    margin-top: 55%;
    margin-left: 9%;
  }

  #four {
    position: relative;
    margin-left: 0.5%
  }

  #five {
    margin-top: 39%;
    position: relative;
  }

  .project-row img {
    width: 170%;
  }

  .container:hover .overlay {
    width: 170.5%;
    margin-left: 3%;
  }

  #two {
    margin-left: 8%;
    margin-top: -5%;
  }

  #six {
    margin-left: 8%;
    margin-top: -5.5%;
  }
}

@media screen and (max-width: 850px) {
  .container:hover .overlay {
    width: 170.5%;
    margin-left: 2%;
  }
}



/*CSS FOR PROGRAM LEADS PAGE*/

.pagetitle h1 {
  font-family: "GothamMedium", sans-serif;
  text-align: center;
  font-size: 40pt;
}

.program-leads-page {
  background: #0E1C27;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.main-container {
  width: 80%;
  margin-left: 10%;
}

h1 {
  font-family: 'Museo', sans-serif;
  font-size: 36px;
  margin-top: -1%;
}

img {
  width: 50%;
}

.instructor-row {
  font-family: 'GothamLight', sans-serif;
  padding-top: 3%;
}

.block {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.bio {
  margin-left: -40%;
}

.TA-row {
  font-family: 'GothamLight', sans-serif;
  margin-top: 4%;
  margin-left: 5%;
}

.TA-row img {
  padding-left: 30%;
}

.TA-block h1 {
  font-size: 28px;
}

p {
  line-height: 120%
}

hr {
     background: #848D95; 
     width: 100%; 
     height: 0.1px;
     margin-top: 3%;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/gothamlight-webfont.woff2') format('woff2'),
         url('fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('fonts/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  img {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .bio {
    padding-left: 3%;
  }
}

@media screen and (max-width: 790px) {
  .bio {
    padding-left: 30%;
  }

  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 610px) {
  .block {
    width: 100%;
  }

  .bio {
    width: 98%;
  }

  .instructor-row {
    padding-left: 15%;
  }

  .instructor-row img {
    padding-left: 13%;
  }
}

@media screen and (max-width: 435px) {
  .pagetitle {
    text-align: center;
  }

  img {
    width: 150px;
  }
}

@media screen and (max-width: 375px) {

  img {
    width: 120px;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 680px) {
  #five {
    margin-top: 60%;
  }
}

@media screen and (max-width: 530px) {
  #five {
    margin-top: 80%;
  }
}

@media screen and (max-width: 450px) {
  #five {
    margin-top: 100%;
  }
}



/*CSS FOR FOOTER SECTION*/

.footer {
  background-color: black;
  padding-bottom: 3%;
  padding-top: 5%;
  padding-left: 10%;
}

.footer-col {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

input {
  background-color: white;
  color: black;
  width: 80%;
  height: 35px;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'GothamLight', sans-serif;
}

#footer-info {
  font-family: 'Museo', sans-serif;
  font-size: 20pt;
}

#subscribe {
  background-color: black;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'GothamLight', sans-serif;
  width: 80%;
  height: 35px;
  margin: 5px 0;
}

@media screen and (max-width: 900px) {
  #footer-info {
    font-size: 17pt;
  }
}

@media screen and (max-width: 550px) {
  .footer-col {
    width: 100%;
  }
}





